@import "~compass-mixins/lib/compass/css3/border-radius";

@import "./variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "~react-toggle/style.css";
html, body {
	widht: 100%;
	height: 100%;
}

@import "mixins";
@import "header";
@import "navbar";
@import "button";
@import "glyphicon";
@import "section";
@import "video";
@import "drop-zone";
@import "course";
@import "react-tags";
@import "icon-link";
@import "favorite";
@import "tab";