header {
  background-image: url('../../assets/header-bg.jpg');
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}

@media(min-width:768px) {
  header {
    .way-point {
      padding-top: 40px;
    }
    .intro-text {
      padding-top: 260px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}