.icon-link-group {
	padding-top: 10px;
	.icon-text {
		display: inline-block;
		margin-right: 20px;
		font-size: 16px;
		line-height: 20px;
		color: #666666;

		&.hide-me {
			display: none;
		}

		&.tags {
			margin-right: 10px;
		}

		.icon {
			vertical-align: middle;
			margin-right: 10px;

			.glyphicon {
				top: 2px;
			}
			&.active {
				color: darken(#666666, 20%);
			}
		}

		.text {
			vertical-align: middle;
		}

		a {
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}

	}
}
