$brand-primary: #F05F40;
$brand-danger: #fed136;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;

$font-dark: #565a5c;
$gray-lighter: #F7F7F7;

$description-color: #b8b8b8;
$tab-border-color: #62B2F7;
