$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

.my-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

form.my-form {
  width: 100%;

  input, textarea {
    width: 100%;
  }
}

.pure-button.my-btn {
  color: #565a5c;
  background-color: white;
  border-color: #c4c4c4;
  border-radius: 0;
  outline: none !important;
  box-shadow: none !important;
}